{{define "_navbarusers"}}

<nav class="navbar navbar-light bg-light mb-4">
    <div class="container">
        
        <a class="navbar-toggler" href="#">Prédio C3
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8EsPVz6az3_C0hIC4jZHq5DXG6lywpVkiKFR0CVUQkQ&s" alt="logo c3" width="55" height="50">
        </a>
        <a class="navbar-toggler" href="/Users">Usuarios
          <img src="https://png.pngtree.com/png-vector/20190909/ourmid/pngtree-outline-user-icon-png-image_1727916.jpg" alt="logo c3" width="55" height="50">
        </a>

        <a class="navbar-toggler" href="/Salas">Logout
            <img src="https://w7.pngwing.com/pngs/332/994/png-transparent-door-entrance-exit-leave-logout-out-quit-basic-user-interface-icon-thumbnail.png" alt="logo c3" width="55" height="50">
          </a>
      </div>
    
</nav>

{{end}}