{{define "_navbarhome"}}

<nav class="navbar navbar-light bg-light mb-4">
    <div class="container">
        
        <a class="navbar-toggler" href="/">Prédio C3
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8EsPVz6az3_C0hIC4jZHq5DXG6lywpVkiKFR0CVUQkQ&s" alt="logo c3" width="55" height="50">
        </a>
        <a class="navbar-toggler" href="pegarchave">Pegar chave
            <img src="https://cdn-icons-png.flaticon.com/512/861/861841.png" alt="logo c3" width="55" height="50">
          </a>

        <a class="navbar-toggler" href="login">Login
            <img src="https://w7.pngwing.com/pngs/250/678/png-transparent-arrow-in-enter-basic-user-interface-icon.png" alt="logo c3" width="55" height="50">
          </a>
      </div>
    
</nav>

{{end}}